In [17]:
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
Outreach = pd.read_excel("Datasets\OutreachData.xlsx")

<>:1: SyntaxWarning: invalid escape sequence '\O'
<>:1: SyntaxWarning: invalid escape sequence '\O'
C:\Users\VISHAL PUSPALAK\AppData\Local\Temp\ipykernel_34000\3886455541.py:1: SyntaxWarning: invalid escape sequence '\O'
  Outreach = pd.read_excel("Datasets\OutreachData.xlsx")

In [19]:
Outreach.head()

,Reference_ID,Received_At,University,Caller_Name,Outcome_1,Remark,Campaign_ID,Escalation_Required
0,12345,04-28-2023 12:15:19,Illinois Institute of Technology,Shailja,Connected,NaN,IANF23,No
1,12345,04-28-2023 13:04:05,Illinois Institute of Technology,Shailja,Reschedule,NaN,IANF23,No
2,12345,2023-01-05 11:14:11,Illinois Institute of Technology,Shailja,Connected,NaN,IANF23,No
3,347397,2023-01-05 11:16:09,Illinois Institute of Technology,Isha,Not connected,NaN,IANF23,No
4,347397,2023-01-05 11:18:02,Illinois Institute of Technology,Isha,Connected,NaN,IANF23,No

In [20]:
Outreach.shape

(37881, 8)

In [21]:
Campaign = pd.read_excel("Datasets\CampaignData.xlsx")

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\VISHAL PUSPALAK\AppData\Local\Temp\ipykernel_34000\55622887.py:1: SyntaxWarning: invalid escape sequence '\C'
  Campaign = pd.read_excel("Datasets\CampaignData.xlsx")

In [22]:
Campaign.head()

,ID,Name,Category,Intake,University,Status,Start_Date
0,AANF23,"GR GS FA24 Campaign- Admit, No Deposit",Post Admission,AY2024,Illinois Institute of Technology,Completed,3/20/2024 0:00
1,AND23,GR GS FA24 Campaign- Deposit No Action,Post Admission,AY2024,Illinois Institute of Technology,Completed,2024-11-09 00:00:00
2,BPNANF23,"GR GS FA24 Campaign- Deposit, No I-20",Post Admission,AY2024,Illinois Institute of Technology,Completed,2024-11-07 00:00:00
3,BPNND23,GR GS FA24 Campaign- In Progress,Pre Admission,AY2024,Illinois Institute of Technology,Completed,2024-06-03 00:00:00
4,CTKANF23,"GR GS FA24 Campaign- Submit, Incomplete",Pre Admission,AY2024,Illinois Institute of Technology,Completed,2024-08-03 00:00:00

Removed Duplicates from Application data

In [24]:
application = pd.read_excel("Datasets\ApplicantData.xlsx")

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\VISHAL PUSPALAK\AppData\Local\Temp\ipykernel_34000\3167702311.py:1: SyntaxWarning: invalid escape sequence '\A'
  application = pd.read_excel("Datasets\ApplicantData.xlsx")

In [25]:
Application_unique = application.drop_duplicates(subset=['App_ID'])

In [26]:
Application_unique.shape

(15417, 4)

Duplicates rows in Outreach dataset

In [27]:
dup = Outreach[Outreach.duplicated(subset=['Reference_ID'], keep=False)]
dup.shape

(29708, 8)

In Outreach dataset there are ~29000 rows which are duplicated which means multiple calls where done for each ID

In [ ]:
application['Country'].astype(str).str.strip()

0            India
1            India
2            India
3          Nigeria
4          Nigeria
           ...
21387      Bahrain
21388      Bahrain
21389      Bahrain
21390    australia
21391      Bahrain
Name: Country, Length: 21392, dtype: object

In [28]:
wrong_country = application[application['Country'].str.contains('@',na=False)]
wrong_country

,App_ID,Country,University,Phone_Number
159,346422,saarthaksingh05@gmail.com,Illinois Institute of Technology,916392887804
183,362775,satya.sai1881@gmail.com,Illinois Institute of Technology,917075350019
198,358406,sharmaishaan16@gmail.com,Illinois Institute of Technology,918091441800
258,364455,pillir1026@outlook.com,Illinois Institute of Technology,918074618601
261,362191,shalinidec05@gmail.com,Illinois Institute of Technology,97455626509
...,...,...,...,...
3988,376110,npattem@hawk.iit.edu,Illinois Institute of Technology,19885813222
4018,356477,rgajavalli@hawk.iit.edu,Illinois Institute of Technology,918639756985
4377,347178,hningappakondakundi@hawk.iit.edu,Illinois Institute of Technology,918147542684
4386,353551,ssundaram@hawk.iit.edu,Illinois Institute of Technology,918540982755
4487,346779,syerramsetti@hawk.iit.edu,Illinois Institute of Technology,918247090305

In [29]:
application.loc[application['Country'].str.contains("@",case=False,na=False),'Country'] = "Unknown"
application['Country'] = application['Country'].str.title()

In [30]:
application.to_excel('clean_application.xlsx',index=False)

In [33]:
clean_outreach = pd.read_excel("Cleaned datasets\Cleaned_Data_outreach.xlsx")
clean_application = pd.read_excel("Cleaned datasets\clean_application.xlsx")
clean_campaign = pd.read_csv('Cleaned datasets\campaign_cleaned.csv')

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:2: SyntaxWarning: invalid escape sequence '\c'
<>:3: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:2: SyntaxWarning: invalid escape sequence '\c'
<>:3: SyntaxWarning: invalid escape sequence '\c'
C:\Users\VISHAL PUSPALAK\AppData\Local\Temp\ipykernel_34000\2961756316.py:1: SyntaxWarning: invalid escape sequence '\C'
  clean_outreach = pd.read_excel("Cleaned datasets\Cleaned_Data_outreach.xlsx")
C:\Users\VISHAL PUSPALAK\AppData\Local\Temp\ipykernel_34000\2961756316.py:2: SyntaxWarning: invalid escape sequence '\c'
  clean_application = pd.read_excel("Cleaned datasets\clean_application.xlsx")
C:\Users\VISHAL PUSPALAK\AppData\Local\Temp\ipykernel_34000\2961756316.py:3: SyntaxWarning: invalid escape sequence '\c'
  clean_campaign = pd.read_csv('Cleaned datasets\campaign_cleaned.csv')

In [34]:
clean_application.head()

,App_ID,Country,University,Phone_Number,Phone_Number_Clean
0,12345,India,Illinois Institute of Technology,9823241234,9.823241e+09
1,12345,India,Illinois Institute of Technology,8805617501,8.805618e+09
2,12345,India,Illinois Institute of Technology,18019011222,8.019011e+09
3,347397,Nigeria,Illinois Institute of Technology,7738599513,7.738600e+09
4,347397,Nigeria,Illinois Institute of Technology,919182706838,9.182707e+09

Merging of 3 datasets

In [97]:
merge_data = clean_outreach.merge(clean_application, 
                            left_on='Reference_ID', 
                            right_on='App_ID', 
                            how='left')

final_data = merge_data.merge(clean_campaign,
                              left_on="Campaign_ID",
                              right_on="ID",
                              how="left")

In [92]:
merge_data

,Reference_ID,Received_At,University_x,Caller_Name,Outcome_1,Remark,Campaign_ID,Escalation_Required,App_ID,Country,University_y,Phone_Number,Phone_Number_Clean
0,0,2024-04-03 12:35:02,Illinois Institute of Technology,Palak,Not connected,hi,FA24IP,No,0,-,Illinois Institute of Technology,0,0.000000e+00
1,12345,2023-05-01 11:14:11,Illinois Institute of Technology,Shailja,Connected,No Remarks,IANF23,No,12345,India,Illinois Institute of Technology,9823241234,9.823241e+09
2,12345,2023-05-01 11:14:11,Illinois Institute of Technology,Shailja,Connected,No Remarks,IANF23,No,12345,India,Illinois Institute of Technology,8805617501,8.805618e+09
3,12345,2023-05-01 11:14:11,Illinois Institute of Technology,Shailja,Connected,No Remarks,IANF23,No,12345,India,Illinois Institute of Technology,18019011222,8.019011e+09
4,47944,2024-12-16 16:23:47,Illinois Institute of Technology,Jyoti,Not connected,No Remarks,SP25AI2S,No,47944,India,Illinois Institute of Technology,917030629112,7.030629e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24960,NOT AVAILABLE,2024-10-15 15:09:19,Illinois Institute of Technology,Jyoti,Wrong number,wrong number,SP25SIC,No,NOT AVAILABLE,India,Illinois Institute of Technology,912242480354,2.242480e+09
24961,NOT AVAILABLE,2024-10-15 15:09:19,Illinois Institute of Technology,Jyoti,Wrong number,wrong number,SP25SIC,No,NOT AVAILABLE,India,Illinois Institute of Technology,916300188548,6.300189e+09
24962,NOT AVAILABLE,2024-10-15 15:09:19,Illinois Institute of Technology,Jyoti,Wrong number,wrong number,SP25SIC,No,NOT AVAILABLE,Iran,Illinois Institute of Technology,983124095169,3.124095e+09
24963,NOT AVAILABLE,2024-10-15 15:09:19,Illinois Institute of Technology,Jyoti,Wrong number,wrong number,SP25SIC,No,NOT AVAILABLE,Saudi Arabia,Illinois Institute of Technology,9663123307307,3.123307e+09
24964,WRONG NUMBER,2024-10-15 16:05:55,Illinois Institute of Technology,Jyoti,Wrong number,wrong number,SP25SIC,No,WRONG NUMBER,Nigeria,Illinois Institute of Technology,234564693675,4.564694e+09

In [98]:
final_data

,Reference_ID,Received_At,University_x,Caller_Name,Outcome_1,Remark,Campaign_ID,Escalation_Required,App_ID,Country,University_y,Phone_Number,Phone_Number_Clean,ID,Name,Category,Intake,University,Status,Start_Date
0,0,2024-04-03 12:35:02,Illinois Institute of Technology,Palak,Not connected,hi,FA24IP,No,0,-,Illinois Institute of Technology,0,0.000000e+00,FA24IP,"GR GS SP25 Campaign- Admit, No Deposit",Post Admission,AY2024,Illinois Institute of Technology,Completed,2024-09-10
1,12345,2023-05-01 11:14:11,Illinois Institute of Technology,Shailja,Connected,No Remarks,IANF23,No,12345,India,Illinois Institute of Technology,9823241234,9.823241e+09,IANF23,GR GS SP25 Campaign- Deferrals to SP25,Post Admission,AY2024,Illinois Institute of Technology,Completed,2024-05-11
2,12345,2023-05-01 11:14:11,Illinois Institute of Technology,Shailja,Connected,No Remarks,IANF23,No,12345,India,Illinois Institute of Technology,8805617501,8.805618e+09,IANF23,GR GS SP25 Campaign- Deferrals to SP25,Post Admission,AY2024,Illinois Institute of Technology,Completed,2024-05-11
3,12345,2023-05-01 11:14:11,Illinois Institute of Technology,Shailja,Connected,No Remarks,IANF23,No,12345,India,Illinois Institute of Technology,18019011222,8.019011e+09,IANF23,GR GS SP25 Campaign- Deferrals to SP25,Post Admission,AY2024,Illinois Institute of Technology,Completed,2024-05-11
4,47944,2024-12-16 16:23:47,Illinois Institute of Technology,Jyoti,Not connected,No Remarks,SP25AI2S,No,47944,India,Illinois Institute of Technology,917030629112,7.030629e+09,SP25AI2S,GR GS Call Campaign: Africa ANF,Pre Admission,AY2024,Illinois Institute of Technology,Completed,2023-05-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24960,NOT AVAILABLE,2024-10-15 15:09:19,Illinois Institute of Technology,Jyoti,Wrong number,wrong number,SP25SIC,No,NOT AVAILABLE,India,Illinois Institute of Technology,912242480354,2.242480e+09,SP25SIC,"Deposit, Not Advised",Post Admission,AY2024,Illinois Institute of Technology,Completed,2024-07-17
24961,NOT AVAILABLE,2024-10-15 15:09:19,Illinois Institute of Technology,Jyoti,Wrong number,wrong number,SP25SIC,No,NOT AVAILABLE,India,Illinois Institute of Technology,916300188548,6.300189e+09,SP25SIC,"Deposit, Not Advised",Post Admission,AY2024,Illinois Institute of Technology,Completed,2024-07-17
24962,NOT AVAILABLE,2024-10-15 15:09:19,Illinois Institute of Technology,Jyoti,Wrong number,wrong number,SP25SIC,No,NOT AVAILABLE,Iran,Illinois Institute of Technology,983124095169,3.124095e+09,SP25SIC,"Deposit, Not Advised",Post Admission,AY2024,Illinois Institute of Technology,Completed,2024-07-17
24963,NOT AVAILABLE,2024-10-15 15:09:19,Illinois Institute of Technology,Jyoti,Wrong number,wrong number,SP25SIC,No,NOT AVAILABLE,Saudi Arabia,Illinois Institute of Technology,9663123307307,3.123307e+09,SP25SIC,"Deposit, Not Advised",Post Admission,AY2024,Illinois Institute of Technology,Completed,2024-07-17
24964,WRONG NUMBER,2024-10-15 16:05:55,Illinois Institute of Technology,Jyoti,Wrong number,wrong number,SP25SIC,No,WRONG NUMBER,Nigeria,Illinois Institute of Technology,234564693675,4.564694e+09,SP25SIC,"Deposit, Not Advised",Post Admission,AY2024,Illinois Institute of Technology,Completed,2024-07-17

In [99]:
final_data.to_excel('clean_data.xlsx',index=False)

In [90]:
# Standardize the join keys in both datasets
clean_outreach['Reference_ID'] = clean_outreach['Reference_ID'].astype(str).str.strip().str.upper()
clean_application['App_ID'] = clean_application['App_ID'].astype(str).str.strip().str.upper()

In [96]:
merge_data['Campaign_ID'] = merge_data['Campaign_ID'].astype(str).str.strip().str.upper()
clean_campaign['ID'] = clean_campaign['ID'].astype(str).str.strip().str.upper()

In [95]:
print("Matches:", merge_data['App_ID'].notna().sum())
print("Total Outreach Rows:", len(clean_outreach))

Matches: 24583
Total Outreach Rows: 21121